body {
    background: #edf0f1;
    padding: 145px 50px 0 50px;

}
h1{
    text-align: center;
    color: rgba(230,227,255,0.75);
}
h2{
    padding-left: 10px ;
    padding-top: 10px;
}
body,input,button{
    font-family: 'Roboto',sans-serif;
}
/*header styles*/
header{
    width: 100%;
    height: 240px;

    position: fixed;
    top:0;
    left:0;
    z-index:5 ;
}
.header-name{
    height:80px;
    background: #3fbe44;
    box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
    box-sizing: border-box;
    padding: 10px;
}
.header-add{

    height:60px;
    background: #90bec1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
    box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
    padding:10px;
}

.header-add input{
    width: 100%;
    height: 50px;
    color: #fff;
    float:left;
    font-size: 18px;
    text-indent: 15px;
    font-weight: 400;
    padding: 0 60px 0 0;

    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    border:0px;
    box-shadow: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}

.header-add input::-webkit-input-placeholder{
    color: rgba(225,225,225,0.8);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.header-add  button {
    width: 50px;
    height: 50px;

    position:absolute;
    top:90px;
    right:10px;
    z-index:2;
    float:left;

    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.header-add button svg{
    width:20px;
    height: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px ;


}

header button svg .fill {
    fill: #4b4e6d;;
}

#summary-container{
    width: 100%;
    float: left;
}

#map-container{
    width: 100%;
    float: left;
}
#details-container{
    width: 100%;
    float: left;
}

ul {
    width: 100%;
    float: left;
    padding:0 25px 0 25px;
    box-sizing: border-box;
    line-height: 22px;
    list-style-type: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);


}

ul li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    position: relative;
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
    box-sizing: border-box;
}
