* {
    box-sizing: border-box;
}
h1, h2, h3 {
    color: darkslategrey;
}
header {
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
body {
    background-color: #F3FFDA;
    font-size: 1.5rem;
}
form {
    display: flex;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
    font-family: 'Hammersmith One', sans-serif;
}
.postcode__submit {
    border: none;
    background-color: #4eab8e;
    color: #fff;
    border-radius: 5px;
    height: 3rem;
}
.postcode__input {
    height: 3rem;
    font-size: 1.5rem;
    max-width: 80%;
    border-radius: 5px;
    padding: 0.2em;
    border: none;

}
.summary {
    padding: 1rem;
    text-align: center;
}
.summary__item {
    margin: 1rem 0;
    padding: 2rem 0;
    border-top: 1px solid lightgrey;
    line-height: 3rem;
}
#summary-container{
    width: 100%;
    float: left;
}

#map-container{
    width: 100%;
    float: left;
}
#details-container{
    width: 100%;
    float: left;
}

#details-container ul, .summary {

    display: flex;
    align-items: center;
    font-size: 18px;
    width: 100%;
    float: left;
    padding:0 25px 0 25px;
    box-sizing: border-box;
    line-height: 22px;
    list-style-type: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);


}

#details-container ul li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    position: relative;
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
    box-sizing: border-box;
}


img {
    height: 50px;
    width: 50px;
    text-align: center;
}
