body {
    background: #edf0f1;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
}

#summary-container{
    width: 100%;
    float: left;
}

#map-container{
    width: 100%;
    float: left;
}
#details-container{
    width: 100%;
    float: left;
}

#details-container ul {
    width: 100%;
    float: left;
    padding:0 25px 0 25px;
    box-sizing: border-box;
    line-height: 22px;
    list-style-type: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);


}

#details-container ul li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    position: relative;
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
    box-sizing: border-box;
}

img{
    height:50px;
    width:50px;
}